Flask 
Flask-SQLAlchemy
pymysql
psycopg2
cryptography
flask-migrate
pandas
requests
python-dotenv
flask_cors
flask-bcrypt
pyjwt
pillow
Flask-Mail
flask-jwt-extended
google-api-python-client~=2.35.0
google-auth-httplib2
google-auth-oauthlib